body {
	direction: rtl;
	unicode-bidi: embed;
}

.header-top .header-social{
    text-align: left;
}

.navbar-header {
    float: right;
}

.navbar-right {
    float: left !important;
    margin-left: -15px;
}

.media-left, .media > .pull-left {
    padding-left: 10px;
    padding-right: 0;
}

.blog-icon{
	display: none;
}

th {
	text-align: right;
}

/* Accessibility */

.screen-reader-text:focus {
	left: auto;
	right: 5px;
}

/* Typography */

textarea {
	padding-right: 3px;
}

li > ul,
li > ol {
	margin-left: 0;
	margin-right: 1.5em;
}

th:first-child,
td:first-child {
	padding-left: 0.4em;
	padding-right: 0;
}

th:last-child,
td:last-child {
	padding-left: 0;
	padding-right: 0.4em;
}

/* Forms */

input[type="radio"],
input[type="checkbox"] {
	margin-left: 0.5em;
	margin-right: 0;
}

/* Media */

.mejs-offscreen {
	right: -10000px;
}

.author-block img.avatar {
    margin-right: 0;
    float: right;
    margin-left: 20px;
}

.comment-body {
    margin-left: 0;
    margin-right: 65px;
}

.comment-author .avatar {
    left: 0;
    right: -65px;
}

.aboutPage_section,
.footer_section,
.primary,
.secondary,
.blog-action,
.contactPage{
	text-align: right;
}

.search-submit {
    right: auto;
    left: 0;
}

.contact_icons li span {
    margin-left: 10px;
}

.lg-outer {
    direction: ltr;
}

.owl-carousel,
.bx-wrapper { direction: ltr; }
.owl-carousel .owl-item { direction: rtl; }